# Foundry
out/
cache/
broadcast/*/31337/

# env files - IMPORTANT
.env
.env.local

# frontend
frontend/node_modules/
frontend/.next/
frontend/dist/
frontend/build/

# Next.js / Node
node_modules/
.next/
next-env.d.ts
.vercel

# misc
*.log
.DS_Store
